<form>
  <div class="mb-3">
    <label for="contactEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="contactEmail" placeholder="email@example.com">
  </div>
  <div class="mb-3">
    <label for="contactMessage" class="form-label">Message</label>
    <textarea class="form-control" id="contactMessage" rows="3" placeholder="Your message here..."></textarea>
  </div>
</form>
