<div class='container text-center my-5'>
  <div class="card">
    <div class="row g-0">
      <div class="col-4">
        <%= image_tag 'https://avatars.githubusercontent.com/u/39388875', class: 'img-fluid rounded-start' %>
      </div>
      <div class="col-8">
        <div class="card-body h-100 d-flex flex-column justify-content-center">
          <h5 class="card-title">lfazocar</h5>
          <p class="card-text">Welcome to my portfolio</p>
        </div>
      </div>
    </div>
  </div>
</div>
