<div class='row g-3'>

  <%# Project 1 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card'>
      <%= image_tag "https://picsum.photos/200", class: 'card-img-top' %>
      <div class='card-body'>
        <h5 class='card-title'>Project 1</h5>
        <p>Project description</p>
      </div>
      <div class='card-body border-top'>
        <a class="btn btn-dark" href="https://github.com/lfazocar" target="_blank"> Link to project </a>
      </div>
    </div>
  </div>

  <%# Project 2 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card'>
      <%= image_tag "https://picsum.photos/200", class: 'card-img-top' %>
      <div class='card-body'>
        <h5 class='card-title'>Project 2</h5>
        <p>Project description</p>
      </div>
      <div class='card-body border-top'>
        <a class="btn btn-dark" href="https://github.com/lfazocar" target="_blank"> Link to project </a>
      </div>
    </div>
  </div>

  <%# Project 3 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card'>
      <%= image_tag "https://picsum.photos/200", class: 'card-img-top' %>
      <div class='card-body'>
        <h5 class='card-title'>Project 3</h5>
        <p>Project description</p>
      </div>
      <div class='card-body border-top'>
        <a class="btn btn-dark" href="https://github.com/lfazocar" target="_blank"> Link to project </a>
      </div>
    </div>
  </div>

</div>
