<div class='row g-3'>

  <%# Project 1 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card h-100'>
      <%= image_tag 'meet-and-coffee', class: 'card-img-top' %>
      <div class='card-body d-flex flex-column border-top'>
        <h5 class='card-title'>Meet and Coffee</h5>
        <p>Home page for Meet and Coffee events</p>
        <div class="mt-auto pt-3 border-top">
          <a class="btn btn-custom" href="https://github.com/lfazocar/meet-and-coffee" target="_blank"> See more </a>
        </div>
      </div>
    </div>
  </div>

  <%# Project 2 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card h-100'>
      <%= image_tag 'nasa-api', class: 'card-img-top' %>
      <div class='card-body d-flex flex-column border-top'>
        <h5 class='card-title'>Mars Rover Photos</h5>
        <p> Retrieve images taken by Curiosity Mars rover and display them on a webpage using NASA's API</p>
        <div class="mt-auto pt-3 border-top">
          <a class="btn btn-custom" href="https://github.com/lfazocar/desafio-api" target="_blank"> See more </a>
        </div>
      </div>
    </div>
  </div>

  <%# Project 3 %>
  <div class='col-12 col-md-6 col-lg-4'>
    <div class='card h-100'>
      <%= image_tag 'rock-paper-scissors', class: 'card-img-top' %>
      <div class='card-body d-flex flex-column border-top'>
        <h5 class='card-title'>Rock Paper Scissors</h5>
        <p>A simple game made in Ruby</p>
        <div class='mt-auto pt-3 border-top'>
          <a class="btn btn-custom" href="https://github.com/lfazocar/rock-paper-scissors" target="_blank"> See more </a>
        </div>
      </div>
    </div>
  </div>

</div>
